@use "./variables" as *;

header{
    margin-top: -10px;
    background-size: cover;
    position: relative;
    &.home-header{
        background-image: url(../../assets/home-header.jpg);
        width: 100%;
        height: 697px;
        &.home-h1{
            width: 20%;
        }
    }
    &.blog-header{
        background-image: url(../../assets/blog-header.jpg);
        width: 100%;
        height: 700px;
    }
    &.contact-header{
        background-image: url(../../assets/contact-header.jpg);
        width: 100%;
        height: 567px;
    }
    &.blog-h1{

    }
    &.contact-h1{

    }
}