// primary-colour
$primary-colour: #2B331B;
// secondary-colour
$secondary-colour: #171B0E;
// tertiary-colour
$tertiary-colour: #FFD300;
// white
$white: #FFFFFF;
// black
$black: #0F0F0F;

$main-font: "Josefin Sans";

$body-font: "Barlow";

$base-font: 1rem;